 <section class="container-fluid padding-top-3x">
    <!-- .row -->
    <div class="row padding-top">
        <div class="container">
            <%= form_for @article, class:"form-horizontale" do |f| %>
            
                <div class="form-group">
                    <label for="image">Photo représentant l'article</label>
                    <div class="input-file-container">
                    <%= f.file_field :image, autofocus: true, class: "input-file" %>
                    <label tabindex="0" for="image" class="input-file-trigger">Importer une photo...</label>
                    </div>
                    <p class="file-return"></p>
                </div>
            
                <div class="form-group">
                    <label for="titre">Titre de l'article</label>
                    <%= f.text_field :titre, class: "form-control form-control-lg" %>
                </div>

                <div class="form-group">
                    <label for="description">Description de l'article</label>
                    <%= f.text_area :description, class: "form-control form-control-lg text-editor" %>
                </div>
            
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary">Créer mon article</button>
                </div>
            
            <% end %>
        </div>
    </div>
</section>
 
  <!-- Script js pour l'upload file -->
  <script>
 document.querySelector("html").classList.add('js');
 
 var fileInput  = document.querySelector( ".input-file" ),  
     button     = document.querySelector( ".input-file-trigger" ),
     the_return = document.querySelector(".file-return");
       
 button.addEventListener( "keydown", function( event ) {  
     if ( event.keyCode == 13 || event.keyCode == 32 ) {  
         fileInput.focus();  
     }  
 });
 button.addEventListener( "click", function( event ) {
    fileInput.focus();
    return false;
 });  
 fileInput.addEventListener( "change", function( event ) {  
     the_return.innerHTML = this.value;  
 });  
 </script>