    <h1>Bonjour, <%= @destinataire.firstname %></h1>
    <h3>Vous avez souscrit sur notre newsletter, alors, voici la nouvelle:</h3>
    <p>
    Chère <%= @destinataire.firstname %>,
    <p><%= @message.message %></p>
    <p>
      Pour accéder au site,
    </p>
    
    <%= link_to "Voir notre site", root_url %>
