    <h1>Welcome to example.com, </h1>
    <h3><%= @message_body %></h3>
    <p>
      You have successfully signed up to example.com,
      your username is: .<br>
    </p>
    <p>
      To login to the site, just follow this link: .
    </p>
    <p>Thanks for joining and have a great day!</p>
    <%= link_to "Voir notre site", root_url %>
