/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    min-width: 100%; 
}

.head-video-text {
	color: #ffffff;
	font-size: 45px;
}

.navbar-message {
	position:fixed;
	z-index: 500000000000;
}

/* DEVISE NOTIFICATION */

.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-new {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}



/* DEVISE NOTIFICATION END */



.shop-thumbnail {
  width: 100%;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.show-etab-img {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.high-z-index {
  z-index: 4;
}

.user-profile {
  border-radius: 50px;
  margin-left: 10px;
}

.profile_photo_show {
  max-width: 200px;
}

.margin_top {
  margin-top: 30px;
}

.margin-top {
  margin-top: 20px;
}