<p>Bienvenue <%= @email %>!</p>

<p>Vous devez confirmer votre compte email en cliquant sur le lien ci-dessous:</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
